@page
@model BUMS.CreateUserGroupModel
@{
    ViewData["Title"] = "CreateUserGroup";
}

<h1>Add user: "@Model.User.UserName" to group: "@Model.Group.GroupName"</h1>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            @if(Model.errorMessage.Length > 0)
            {
                <div>
                    <label class="text-danger">Bruger findes allerede i gruppes</label>
                </div>
            }
            <div asp-validation-summary="  ModelOnly  " class="text-danger">
            </div>
            <p></p>
            <h5>User</h5>
            <div class="form-group">
                <label asp-for="@Model.User.UserID" class="control-label" readonly></label>
                <input asp-for="@Model.User.UserID" class="form-control" readonly />
                <span asp-validation-for="@Model.User.UserID" class="text-danger" readonly></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.User.UserName" class="control-label" readonly></label>
                <input asp-for="@Model.User.UserName" class="form-control" readonly/>
                <span asp-validation-for="@Model.User.UserName" class="text-danger" readonly></span>
            </div>
            <p></p>
            <h5>Group</h5>
            <div class="form-group">
                <label asp-for="@Model.Group.GroupId" class="control-label" readonly></label>
                <input asp-for="@Model.Group.GroupId" class="form-control" readonly/>
                <span asp-validation-for="@Model.Group.GroupId" class="text-danger" readonly></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Group.GroupName" class="control-label" readonly></label>
                <input asp-for="@Model.Group.GroupName" class="form-control" readonly/>
                <span asp-validation-for="@Model.Group.GroupName" class="text-danger" readonly></span>
            </div>
            <p></p>
            <h5>UserGroup</h5>
            <div class="form-group">
                <label asp-for="@Model.UserGroup.UserID" class="control-label" readonly></label>
                <input asp-for="@Model.UserGroup.UserID" class="form-control" readonly/>
                <span asp-validation-for="@Model.UserGroup.UserID" class="text-danger" readonly></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.UserGroup.GroupID" class="control-label" readonly></label>
                <input asp-for="@Model.UserGroup.GroupID" class="form-control" readonly/>
                <span asp-validation-for="@Model.UserGroup.GroupID" class="text-danger" readonly></span>
            </div>
            <p></p>
            <div class="form-group">
                <input type="submit" value="Add user" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
