@page
@model BUMS.GetUserModel
@{
    ViewData["Title"] = "Users";
}

<h3>List of Users</h3>
<p>
    <a asp-page="/User/CreateUser">Create New User</a>
</p>
<form>
    <p>
        Search: <input type="text" asp-for="FilterCriteria" />
        <input type="submit" value="Filter" />
        <a asp-page="/User/GetUser">Back to Full List </a>
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>User ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Created At</th>
            <th>Created By</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>    
           
        </tr>
    </thead>
    <tbody>

        @if (Model != null)
        {
            @foreach (var item in Model.Users)
            {
                <tr>
                    <td>@item.UserNavigationID</td>
                    <td>@item.UserName</td>
                    <td>@item.Email</td>
                    <td>@item.CreatedAt</td>
                    <td>@item.CreatedBy</td>
                    <td>
                    @{
                        var routeValues = new Dictionary<string, string>();
                            routeValues.Add("gid", Model.GId.ToString());
                            routeValues.Add("uid", item.Id);
                    }
                    @if (Model.GId != 0)
                    {
                        <a asp-page="/UserGroup/CreateUserGroup" asp-all-route-data="routeValues">Add this user to the group</a>
                    }
                    </td>
                    @if(Model.GId == 0){
                    <td>
                            <a asp-page="/User/ShowUserGroup" asp-route-uid="@item.Id"> See groups </a>
                    </td>
                    <td>
                        <p>
                            <a asp-page="/User/UpdateUser" asp-route-id="@item.Id">Update</a>
                        </p>
                    </td>
                    <td>
                        <p>
                            <a asp-page="/User/DeleteUser" asp-route-id="@item.Id">Delete</a>
                        </p>
                    </td>
                    }
                </tr>
            }
        }
</table>
