@page
@model BUMS.GetGroupModel
@{
    ViewData["Title"] = "Groups";
}

<h3>List of Groups</h3>
<p>
    <a asp-page="/Group/CreateGroup">Create New Group</a>
</p>
<form>
    <p>
        Search: <input type="text" asp-for="FilterCriteria"/>
        <input type="submit" value="Filter" />
        <a asp-page="/User/GetUser">Back to Full List</a>
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>Group ID</th>
            <th>Name</th>
            <th>Created At</th>
            <th>Created By</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var item in Model.Groups)
            {
                <tr>
                    <td>@item.GroupId</td>
                    <td>@item.GroupName</td>
                    <td>@item.CreatedAt</td>
                    <td>@item.CreatedBy</td>
                    
                      
                    <td>
                        
                            @{
                                var routeValues = new Dictionary<string, string>();
                                routeValues.Add("gid", item.GroupId.ToString());
                                
                            }
                            @if(Model.GId != 0){
                                <a asp-page="/UserGroup/CreateUserGroup" asp-all-route-data="routeValues">Add user to this group</a>
                            }
                
            </td>
                    <td>
                    <p>
                        <a asp-page="/User/GetUser" asp-route-id="@item.GroupId">Add a user to group</a>
                    </p>
                    </td>
            <td>
                <p>
                    <a asp-page="/Group/UpdateGroup" asp-route-id="@item.GroupId">Update</a>
                </p>
            </td>
            <td>
                <p>
                    <a asp-page="/Group/DeleteGroup" asp-route-id="@item.GroupId">Delete </a>
                </p>
            </td>
        </tr>
        }
        }
</table>

