@page
@model BUMS.GetGroupModel
@{
ViewData["Title"] = "Groups";
}

<h3>List of Groups</h3>
@if (Model.IsAdmin)
{
    <p>
        <a asp-page="/Group/CreateGroup">Create New Group</a>
    </p>
}
<form>
    <p>
        Search: <input type="text" asp-for="FilterCriteria"/>
        <input type="submit" value="Filter" />
        <a asp-page="/User/GetUser">Back to Full List</a>
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>Group ID</th>
            <th>Name</th>
            <th>Created At</th>
            <th>Created By</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
        @foreach (var item in Model.Groups)
        {
        <tr>
            <td>@item.GroupID</td>
            <td>@item.GroupName</td>
            <td>@item.CreatedAt</td>
            <td>@item.CreatedBy</td>
            <td>
            </td>
            <td>
                <p>
                        @if (Model.IsAdmin)
                        {
                
                    @if(Model.UId == null)
                    {
                    <a asp-page="/User/GetUser" asp-route-gid="@item.GroupID">Add a user to this group</a>
                    }
                    else if(Model.UId.Length > 0)
                    {
                        Dictionary<string,string> routeValues = new Dictionary<string, string>();
                        routeValues.Add("uid", Model.UId);
                        routeValues.Add("gid", item.GroupID.ToString());
                        <a asp-page="/UserGroup/CreateUserGroup" asp-all-route-data="routeValues">Add user to this group</a>

                    
                
                    }
                        }
               </p>
                </td>
                    @if (Model.IsAdmin)
                    {
                        @if (Model.UId == null)
                        {
                            <td>
                                <p>
                                    <a asp-page="/Group/UpdateGroup" asp-route-id="@item.GroupID">Update</a>
                                </p>
                            </td>
                            <td>
                                <p>
                                    <a asp-page="/Group/DeleteGroup" asp-route-id="@item.GroupID">Delete </a>
                                </p>
                                
                            </td>
                        }
                    }
        </tr>
        }
        }
</table>

